/********************/
/* GENERAL SETTINGS */
/********************/

._nav {
            float: left;
            margin-right: .4rem;
            font-size: 0.9rem;
            color: #333;
            -webkit-transform:scale(1,1.1); /* Safari and Chrome */
            -moz-transform:scale(1,1.1); /* Firefox */
        }
        nav,header{
            display: block;
        }
        ._header {
            position: absolute;
            z-index: 3;
            top: 0;
            left: 0;
            right: 0;
            height: 3rem;
            line-height: 3rem;
            background: #f0f0f0;
            border-bottom: 1px solid #d9d9d9;
        }
        ._header{
            -webkit-user-select: none;
            -moz-user-select: -moz-none;
            -ms-user-select: none;
            user-select: none;
        }





        ._nav-link, ._nav-link:hover {
            padding: 0 .75rem;
        }
        ._nav-link, ._nav-link:hover {
            position: relative;
            float: left;
            padding: 0 1.25rem;
            padding-top: 0px;
            padding-right: 1.25rem;
            padding-bottom: 0px;
            padding-left: 1.25rem;
            color: inherit;
            text-decoration: none;
        }

          a {
            color: #3377c0;
            letter-spacing: 1px;
            padding: 18px;
            text-decoration: none;
            }


        a:-webkit-any-link {
            direction:ltr;
            
            cursor: auto;
        }

        ._nav-link:before, ._nav-link:after {
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 0;
            height: 0;

            margin-left: -.375rem;
            border: .375rem solid transparent;
            border-bottom-color: #d4d4d4;
        }
        ._nav-link:after {
            bottom: 1px;
            border-bottom-color: #fff;
        }
        ._nav-current {
            outline: 0;
            outline-color: initial;
            outline-style: initial;
            outline-width: 0px;
        }



body {
    background-color: #FFFFFF;
    font-size: 16px;
}

.clear {
    clear: both;
}





